{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">Todo List</h1>

  <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addModal">Add Todo</button>

  {% include 'add_modal.html' %}

  <ul class="list-group">
    {% for i in data %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ i.todo }}

        <div>
          <!-- Update -->
          <button class="btn btn-sm btn-warning me-2" data-bs-toggle="modal" data-bs-target="#updateModal{{ i.id }}">Update</button>
          {% include 'update_modal.html' with todo=i %}

          <!-- Delete -->
          <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ i.id }}">Delete</button>
          {% include 'delete_modal.html' with todo=i %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
